slack {
    botToken = ${?SLACK_BOT_TOKEN}
}

claude {
    apiKey = ${?ANTHROPIC_API_KEY}
    model = "claude-4-5-sonnet"
}

gemini {
    apiKey = ${?GEMINI_API_KEY}
    model = "gemini-1.5-flash"
}

github {
    token = ${?GITHUB_TOKEN}
    repoOwner = ${?GITHUB_REPO_OWNER}
    repoName = ${?GITHUB_REPO_NAME}
    branchPrefix = "summary-"
}
